{% extends 'ImpAppBundle::layout.html.twig' %}
{% block wrappedContent %}
    <ul class="nav nav-tabs">
    {% for group in groups %}
        <li><a href="#">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}